/*help from Ryan Waite, Doug Brown, Yahya Elharony, Rodrick Bloomfield, Forrest*/
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
}

.header{
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  background-color: black;
  color: white;
}

#search{
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  background-color: black;
  color: white;
}

.sideBar {
  width: 25%;
  min-width: 200px;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

.venueList {
  padding: 1rem;
  padding-top: 0;

}

.listItem {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1rem;
  padding: .5rem;
  margin-top: 1rem;
  cursor: pointer;
  background: black;
  color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.listItem:hover {
  background-color: blue;
  /* color: black; */
}
